#background {
    background-image: url("/imgs/background.jpg");
    height: 800px;
    width: 1400px;
    

}

#p1 {
    background-image: url("/imgs/p1.gif");
    height: 80px;
    width: 144px;
    position: absolute;
    top:400px;
    left: 40px;
}

.boss1 {
    background-image: url('/imgs/boss.gif');
    height: 290px;
    width: 290px;
    position: absolute;
    top:200px;
    left: 800px;
}

.bullet {
    background-image: url('/imgs/bullet.png');
    height: 15px;
    width: 21px;
}