.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color:black;
}
.shooter2 {
    background-color: magenta;
}

.invader {
    background-image: url('imgs/enemy.png');
    border-radius: 10px;
}

.boom {
    background-color: crimson;

}

.laser {
    background-image: url('imgs/bullet.png');
}

.laser2 {
    background-image: url('imgs/bullet.png');
}





